<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<style>
.linkedin h1{-moz-box-shadow:none !important;-webkit-box-shadow:none !important;-o-box-shadow:none !important;box-shadow:none !important;border-bottom:0px none !important}.linkedin a{text-decoration:none;white-space:normal !important;line-height:32px}.linkedin a img{float:left;margin-right:0.5em;border:0 none}.linkedin-hidden{position:absolute;top:-1000em;left:-1000em}
</style>
